/* :root {
    --color1: #95b4cc;
    --color2: #2b4c65;
    --color3: #1d1c22;
    --color4: #f1f1f1;
    --color5: #6b8ba4;
    --color4-2: #f9f9f9;
} */

:root {
    --color1: #f6f6f6;
    /* --color2: #fe4f02;
    --color2: #18191a;
    --color2: #A1662F;
    --color2: #FFB606; */


    --color1: #18191a;
    --color2: #caa472;
    --color3: #f6f6f6;
    --dark: #101011;

    /* --color2: #ecbd00; */
    /* --color2: #000; */
    /* --color2: #f6f6f6;
    --color1: #fe4f02; */

    /* --color3: #0e0e0e;
    --color4: #b1aeaf;
    --color5: #ff9361; */
}

/* HEADER */

button {
    border: 2px solid transparent;
}

.header {
    border-bottom: 1px solid var(--color2);
    color: var(--color2);
}

#search {
    background-color: var(--color3);
}

#search:focus {
    outline: none;
    border: 1px solid var(--color2);
    box-shadow: 0px 0px 5px var(--color2);
}

.search-btn:hover {
    color: var(--color2);
    background-color: var(--color1);
    border: 3px solid var(--color2);
}

.button {
    background-color: var(--color2);
    outline: none;
    color: var(--color1);
}

.menu-btn {
    width: max-content;
    color: var(--color2);
    font-size: 1.1em;
    border-radius: 5px;
    background-color: transparent;
}

.menu-btn:hover {
    border: 2px solid var(--color2)
}


#menuSlider {
    color: var(--color3);
    background-color: var(--dark);
    border-radius: 50%;
    padding: 1% 2.5%;
    font-size: 1.5rem;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
}

.logout {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--color1);
    background-color: var(--color2);
    border-radius: 5px;
}

.logout:hover {
    color: var(--color2);
    border: 2px solid var(--color2);
    background-color: transparent;
}

.read {
    border-bottom: 2px solid var(--color2);
}

details>summary {
    list-style: none;
}

details[open]>summary {
    list-style: none;
}

details {
    color: var(--color3);
    background: var(--dark);
    padding: .5rem 1rem 0% 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px var(--black);
}

summary>* {
    display: inline;
}

a {
    font-style: italic;
    text-decoration: none;
    color: var(--color2);
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color1);
    /* overflow-y: scroll; */
}

.content {
    color: var(--color2);
    background-color: var(--dark);
}

.content input {
    color: var(--color2);
    background-color: transparent;
    padding: 1% 2%;
    border: none;
    border-bottom: 2px solid var(--color2);
    /* border-radius: 5px; */
    outline: none;
    margin-top: 1%;
    margin-bottom: 1%;
}

::placeholder {
    color: var(--color2);
    opacity: 0.9;
}

::-moz-placeholder {
    opacity: 0.9;
}

.login {
    margin-top: 4%;
    padding: 1% 2%;
    font-variant: small-caps;
    color: var(--color2);
    border: 2px solid var(--color2);
    /* box-shadow: 0px 0px 5px var(--color1); */
}

.login:hover {
    color: var(--color1);
    background-color: var(--color2);
    box-shadow: 0px 0px 5px var(--dark);
}

.caps-head {
    font-variant: small-caps;
}


/* HEADER */
.header {
    position: sticky;
    top: 0;
    left: 0;
    /* width: 100%; */
}

/* .input {
    width: 75%;
    outline: none;
    padding-left: 2%;
} */

#btn {
    position: fixed;
    right: 2%;
    top: 30%;
    z-index: 99;
}

#menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;

}

@media screen and (max-width:768px) {
    /* .input {
        width: 77%;
    } */
}


/* COLORS */
.clr1 {
    color: var(--color1);
}

.clr2 {
    color: var(--color2);
}

.clr3 {
    color: var(--color3);
}

.clr4 {
    color: var(--color4);
}

.clr5 {
    color: var(--color5);
}

.bg1 {
    background-color: var(--color1);
}

.bg2 {
    background-color: var(--color2);
}

.bg3 {
    background-color: var(--color3);
}